<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="blog">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('add_post') }}"  class="btn">
                Add New Post
            </a>
            <a href="{{ url_for('logout') }}" class="btn">
                Logout
            </a>
        {% endif %}
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('login') }}" class="btn">
                Login
            </a>
            <a href="{{ url_for('register') }}"  class="btn">
                Register
            </a>
        {% endif %}
        {% for post in posts %}
            <div class="card">
                <h2>
                    <a href="{{ url_for('post', post_id=post.id) }} ">
                        {{ post.title }}
                    </a>
                </h2>
                <p> {{ post.content }}</p>
                {% if current_user.is_authenticated %}
                    <button onclick="location.href='{{ url_for('like_post', post_id=post.id) }}'">like</button>
                    {% if post.id in post.liked_posts %}
                        <img src="/static/like(1).png" height="25">
                    {% else %}
                        <img src="/static/no_like.png" height="25">
                    {% endif %}
                    <span>{{ post.likes }}</span>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <button onclick="location.href='{{ url_for('add_comment', post_id=post.id) }}'">Comment</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
